body {
    font: 18px "Comic Sans MS", sans-serif;
    background: #eee;
}

#animals {
    width: 66%;
}

.animal-item {
    float: left;
    padding: 10px;
}

form {
    float: right;
    width: 30%;
    padding: 50px;
}

button,
input[type="submit"] {
    padding: 5px 20px;
    margin: 0 15px 15px 0;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: #44a86e;
    border: 0;
    border-radius: 50px;
    box-shadow: 2px 2px 3px #bbb;
}

button:hover,
input[type="submit"]:hover {
    background: #0c860c;
}

button.active {
    background: #e2b00a;
}